Make IA/INGE LEAN S.A.S El Recepcionista.blueprint.json
{
    "name": "INGE LEAN S.A.S El Recepcionista",
    "flow": [
        {
            "id": 1,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1126409
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "INGE LEAN S.A.S"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3335809
                            },
                            "filter": {
                                "name": "Detectar Saludo",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": "^(hola|start|empezar|inicio|\\//start)$",
                                            "o": "text:pattern:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "gpt-4o",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "[\n  {\n    \"role\": \"system\",\n    \"content\": \"Eres el asistente virtual de bienvenida de INGE LEAN S.A.S., una empresa de ingeniería especializada en software, hardware, automatización industrial, inteligencia artificial y mantenimiento. Tu misión es dar una bienvenida cálida y profesional, y luego guiar al usuario proactivamente sobre los temas principales en los que nuestro chatbot puede ofrecer ayuda. Tu tono debe ser amigable, profesional y muy servicial. Presenta los temas de forma clara y concisa, usando ejemplos para orientar al usuario. Finaliza invitando al usuario a hacer su pregunta.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"El usuario acaba de iniciar una conversación o ha dicho 'Hola'. Por favor, crea un mensaje de bienvenida. Después de la bienvenida, explícale amablemente en qué temas puedes ayudarte, usando la siguiente información de nuestro sistema para orientarlo sobre cómo formular sus preguntas.\n\nIMPORTANTE: NUNCA UTILICES ASTERISCOS (*) PARA NINGÚN TIPO DE FORMATO. Si necesitas enfatizar, usa el texto plano. Si necesitas enumerar, usa números o guiones simples (-).\n\nTemas Principales sobre los que nuestro sistema puede responder:\n\n- Demostración:\n  Palabras clave: video, touchwin, recetas, hmi, pantalla, ver, mostrar.\n  Ejemplos de preguntas:\n  1. ¿Podría mostrarme un video de la automatización de un parqueadero?\n  2. ¿Tienen un tutorial sobre alarmas en HMI Touchwin?\n  3. ¿Cómo puedo ver una demostración de sus productos?\n\n- Generales (Software, Hardware, Automatización, IA, Mantenimiento):\n  Palabras clave: software, hardware, automatización, IA, servicios, soluciones, desarrollan, diseñan, ofrecen, procesos.\n  Ejemplos de preguntas:\n  1. ¿Qué tipo de software desarrollan en INGE LEAN?\n  2. ¿Qué procesos industriales pueden automatizar?\n  3. ¿Qué servicios ofrecen en inteligencia artificial?\n\n- Repuestos:\n  Palabras clave: repuestos, tipos, sensores, batería, motores, motoreductores, conseguir, utilizar.\n  Ejemplos de preguntas:\n  1. ¿Dónde puedo conseguir repuestos para mis equipos?\n  2. ¿Qué tipos de sensores puedo usar con sus sistemas?\n  3. ¿Cuál es la vida útil típica de una batería de PLC?\n\n- Soporte Técnico:\n  Palabras clave: soporte, técnico, ayuda, problema, nfc, tarjeta, acceso, contraseña, recuperar.\n  Ejemplos de preguntas:\n  1. ¿Cómo solicito soporte técnico?\n  2. ¿Qué información se almacena en una tarjeta NFC?\n  3. ¿Cómo recupero mi contraseña de administrador?\n\nPor favor, usa esta información para crear un mensaje de bienvenida que oriente claramente al usuario sobre cómo preguntar. Finaliza invitándolo a que escriba su pregunta.\"\n  }\n]\r\n\n​"
                                    },
                                    {
                                        "role": "user",
                                        "content": "El usuario acaba de iniciar una conversación o ha dicho 'Hola'. Por favor, crea un mensaje de bienvenida. Después de la bienvenida, explícale amablemente en qué temas puedes ayudarte, usando la siguiente información de nuestro sistema para orientarlo sobre cómo formular sus preguntas.\n\nIMPORTANTE: NUNCA UTILICES ASTERISCOS (*) PARA NINGÚN TIPO DE FORMATO. Si necesitas enfatizar, usa el texto plano. Si necesitas enumerar, usa números o guiones simples (-).\n\nTemas Principales sobre los que nuestro sistema puede responder:\n\n- Demostración:\n  Palabras clave: video, touchwin, recetas, hmi, pantalla, ver, mostrar.\n  Ejemplos de preguntas:\n  1. ¿Podría mostrarme un video de la automatización de un parqueadero?\n  2. ¿Tienen un tutorial sobre alarmas en HMI Touchwin?\n  3. ¿Cómo puedo ver una demostración de sus productos?\n\n- Generales (Software, Hardware, Automatización, IA, Mantenimiento):\n  Palabras clave: software, hardware, automatización, IA, servicios, soluciones, desarrollan, diseñan, ofrecen, procesos.\n  Ejemplos de preguntas:\n  1. ¿Qué tipo de software desarrollan en INGE LEAN?\n  2. ¿Qué procesos industriales pueden automatizar?\n  3. ¿Qué servicios ofrecen en inteligencia artificial?\n\n- Repuestos:\n  Palabras clave: repuestos, tipos, sensores, batería, motores, motoreductores, conseguir, utilizar.\n  Ejemplos de preguntas:\n  1. ¿Dónde puedo conseguir repuestos para mis equipos?\n  2. ¿Qué tipos de sensores puedo usar con sus sistemas?\n  3. ¿Cuál es la vida útil típica de una batería de PLC?\n\n- Soporte Técnico:\n  Palabras clave: soporte, técnico, ayuda, problema, nfc, tarjeta, acceso, contraseña, recuperar.\n  Ejemplos de preguntas:\n  1. ¿Cómo solicito soporte técnico?\n  2. ¿Qué información se almacena en una tarjeta NFC?\n  3. ¿Cómo recupero mi contraseña de administrador?\n\nPor favor, usa esta información para crear un mensaje de bienvenida que oriente claramente al usuario sobre cómo preguntar. Finaliza invitándolo a que escriba su pregunta.",
                                        "imageDetail": "auto"
                                    }
                                ],
                                "max_tokens": "2048",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT and o1 models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Developer / System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "imageDetail": {
                                                        "mode": "chose",
                                                        "label": "Auto"
                                                    },
                                                    "imageInputType": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": {
                                                        "store": [
                                                            {
                                                                "label": "User",
                                                                "value": "user",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "name": "imageInputType",
                                                                        "type": "select",
                                                                        "label": "Image Input Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "URL",
                                                                                "value": "url",
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                        "name": "imageUrl",
                                                                                        "type": "url",
                                                                                        "label": "Image URL"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Image File",
                                                                                "value": "file",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "imageFile",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                                "name": "imageFilename",
                                                                                                "type": "filename",
                                                                                                "label": "Image Filename",
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "jpg",
                                                                                                    "jpeg",
                                                                                                    "png",
                                                                                                    "webp",
                                                                                                    "gif"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "imageData",
                                                                                                "type": "buffer",
                                                                                                "label": "Image Data",
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Image"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "mappable": false
                                                                    },
                                                                    {
                                                                        "help": "Recommended value: `Auto`",
                                                                        "name": "imageDetail",
                                                                        "type": "select",
                                                                        "label": "Image Detail",
                                                                        "options": [
                                                                            {
                                                                                "label": "Auto",
                                                                                "value": "auto",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "High",
                                                                                "value": "high"
                                                                            },
                                                                            {
                                                                                "label": "Low",
                                                                                "value": "low"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Assistant",
                                                                "value": "assistant",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "mode": "edit",
                                                                        "name": "tool_calls",
                                                                        "spec": {
                                                                            "spec": [
                                                                                {
                                                                                    "name": "type",
                                                                                    "type": "hidden",
                                                                                    "default": "function"
                                                                                },
                                                                                {
                                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                                    "name": "id",
                                                                                    "type": "text",
                                                                                    "label": "Tool call ID"
                                                                                },
                                                                                {
                                                                                    "name": "function",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "The name of the function previously called.",
                                                                                            "name": "name",
                                                                                            "type": "text",
                                                                                            "label": "Name",
                                                                                            "required": true
                                                                                        },
                                                                                        {
                                                                                            "help": "The arguments previously output by the AI.",
                                                                                            "name": "arguments",
                                                                                            "type": "text",
                                                                                            "label": "Arguments",
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Function"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Tool Call"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Tool Calls",
                                                                        "labels": {
                                                                            "add": "Add tool call"
                                                                        },
                                                                        "mappable": {
                                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Developer / System",
                                                                "value": "system",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Tool",
                                                                "value": "tool",
                                                                "nested": [
                                                                    {
                                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                        "name": "tool_call_id",
                                                                        "type": "text",
                                                                        "label": "Tool Call ID.",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "prediction",
                                        "type": "text",
                                        "label": "Predicted Outputs"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "Result"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "choices",
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "tool_calls",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "function",
                                                                "spec": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Name"
                                                                    },
                                                                    {
                                                                        "name": "arguments",
                                                                        "type": "text",
                                                                        "label": "Arguments"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Function"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Tool Calls"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "url_citation",
                                                                "spec": [
                                                                    {
                                                                        "name": "end_index",
                                                                        "type": "number",
                                                                        "label": "End Index"
                                                                    },
                                                                    {
                                                                        "name": "start_index",
                                                                        "type": "number",
                                                                        "label": "Start Index"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "url",
                                                                        "type": "text",
                                                                        "label": "URL"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "URL Citation"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Annotations"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Choices"
                                    },
                                    {
                                        "name": "usage",
                                        "spec": [
                                            {
                                                "name": "prompt_tokens",
                                                "type": "number",
                                                "label": "Prompt Tokens"
                                            },
                                            {
                                                "name": "completion_tokens",
                                                "type": "text",
                                                "label": "Completion Tokens"
                                            },
                                            {
                                                "name": "total_tokens",
                                                "type": "number",
                                                "label": "Total Tokens"
                                            },
                                            {
                                                "name": "prompt_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "cached_tokens",
                                                        "type": "uinteger",
                                                        "label": "Cached Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "image_tokens",
                                                        "type": "uinteger",
                                                        "label": "Image Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Prompt Tokens Details"
                                            },
                                            {
                                                "name": "completion_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "reasoning_tokens",
                                                        "type": "uinteger",
                                                        "label": "Reasoning Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    },
                                                    {
                                                        "name": "accepted_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Accepted Prediction Tokens"
                                                    },
                                                    {
                                                        "name": "rejected_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Rejected Prediction Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Completion Tokens Details"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Usage"
                                    },
                                    {
                                        "name": "service_tier",
                                        "type": "text",
                                        "label": "Service Tier"
                                    },
                                    {
                                        "name": "system_fingerprint",
                                        "type": "text",
                                        "label": "System Fingerprint"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4591588
                            },
                            "mapper": {
                                "text": "{{2.choices[].message.content}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "INGE LEAN S.A.S"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    },
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "scenario-service:CallSubscenario",
                            "version": 2,
                            "parameters": {
                                "scenario": "SCN_2555606",
                                "shouldWaitForExecutionEnd": true
                            },
                            "filter": {
                                "name": "Procesar Habilidades",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.message.text}}",
                                            "b": " ^(hola|start|empezar|inicio|\\/start)$",
                                            "o": "text:notpattern:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "data": {
                                    "texto_del_usuario": "{{1.message.text}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "scenario": {
                                            "label": "INGE LEAN S.A.S - Procesador de Habilidades"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "scenario",
                                        "type": "scenario",
                                        "label": "Scenario",
                                        "required": true
                                    },
                                    {
                                        "name": "shouldWaitForExecutionEnd",
                                        "type": "boolean",
                                        "label": "Wait for subscenario output",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "texto_del_usuario",
                                                "type": "text",
                                                "label": "",
                                                "required": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Scenario Inputs"
                                    }
                                ],
                                "interface": [
                                    {
                                        "help": "",
                                        "name": "respuesta_generada",
                                        "type": "text",
                                        "label": "",
                                        "default": "YES",
                                        "required": true,
                                        "multiline": false
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 4591588
                            },
                            "mapper": {
                                "text": "{{5.respuesta_generada}}",
                                "chatId": "{{1.message.chat.id}}",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "INGE LEAN S.A.S"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}